body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 42%, rgba(17,15,15,1) 93%);
}

.classifica {
    text-align: center;
    color: white;
}

.table {
    text-align: center;
}

.video {
    width:9.5em;
    height: fit-content;
    margin-left: 50px;
}

.card h5 {
   text-align: center;
}

.card-text {
    text-align: center;
}

